.a{
    /* المسافة بين النص بشكل افقي */
    line-height: 1;


    /* the bold text is 700 so this is more than bold */
    font-weight: 800;


    backdrop-filter: blur(10px);
}

#contact-btn {   
    transition: .6s ease;


}
#contact-btn:hover {
    background-color: transparent;
    transform: scale(1.1);
    
}

.social-icon > a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    /* translateY to go up and down */
    /* scale(1.2) for the size */
    transform: scale(1.2)translateY(-5px) ;
}

.home-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);

}

@keyframes slideTop {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.Services-list > div > a {
    font-size: 1.3em;
    display: inline-block;
    margin-top: .8em;
    padding: .2em .5em;
    opacity: 0;
    animation: slideTop .6s ease forwards;
    animation-delay: .3s;
    box-shadow: 0 0 5px var(--main-color),
                0 0 25px var(--main-color);
}